.magic {
	min-height: 640px;
	margin-bottom: 40px;
	background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%),
	url(../img/threeMushroom.png) center/ cover no-repeat;

	@media(min-width:992px) {
		min-height: 700px;
		margin-bottom: 80px;
	}

	// .magic__container

	&__container {
		display: flex;
		align-items: center;
		justify-content: end;
		flex-direction: column;
		min-height: 600px;



		@media(min-width:768px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: end;
		}
	}

	// .magic__content

	&__content {}

	// .magic__box

	&__box {
		display: flex;
		align-items: center;
		border-radius: 20px;
		background-color: #3b3b3b;
		max-width: 150px;
		margin-bottom: 30px;
		padding: 10px 20px;
	}

	// .magic__img

	&__img {
		width: 24px;
		height: 24px;
		margin-right: 12px;
	}

	// .magic__before-title

	&__before-title {
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
	}

	// .magic__title

	&__title {
		max-width: 315px;
		margin-bottom: 30px;
		font-size: calc(38px + (51 - 38) * ((100vw - 320px) / (1440 - 320)));

		@media (min-width: 1440px) {
			font-size: 51px;
		}
	}

	// .magic__btn

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 22px 50px;
		border-radius: 20px;
		background-color: #fff;
		color: var(--Background, #2b2b2b);
		font-size: 16px;
		font-weight: 600;
	}

	// .magic__icon

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: 12px;
		fill: #a259ff;
	}

	// .magic__time-box

	&__time-box {
		width: 100%;
		margin-bottom: 30px;
		padding: 30px;
		border-radius: 20px;
		background: rgba(59, 59, 59, 0.5);
		backdrop-filter: blur(5px);

		@media(min-width:768px) {
			max-width: 300px;
			margin: 0;
		}
	}

	// .magic__time-list

	&__time-list {
		display: flex;
		justify-content: space-between;
	}

	// .magic__time-item

	&__time-item {
		display: flex;
		flex-direction: column;
	}

	// .magic__small-title

	&__small-title {
		margin-bottom: 10px;
		font-family: SpaceMono;
		font-size: 12px;
		font-weight: 400;
	}

	&__hours {
		margin-bottom: 5px;
		color: #fff;
		font-size: 38px;
		font-weight: 700;
	}

	&__minutes {
		margin-bottom: 5px;
		color: #fff;
		font-size: 38px;
		font-weight: 700;
	}

	&__seconds {
		margin-bottom: 5px;
		color: #fff;
		font-size: 38px;
		font-weight: 700;
	}

	// .magic__time-text

	&__time-text {
		color: #FFF;
		font-family: SpaceMono;
		font-size: 12px;
		font-weight: 400;
		line-height: 110%;
	}
}