.works {

	// .works__container

	&__container {}

	// .works__content

	&__content {
		margin-bottom: 40px;
	}

	// .works__title

	&__title {
		margin-bottom: 10px;
		font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (1440 - 320)));
		transition: opacity 1s ease , transform 1s ease;

		&.scroll-anim {
			transform: translateX(-20%);
			opacity: 0;
		}

		&.scroll-anim_active {
			transform: translateX(0);
			opacity: 1;
		}

		@media(min-width:1440px) {
			font-size: 38px;
		}
	}

	// .works__text

	&__text {
		transition: opacity 1s ease , transform 1s ease;

		&.scroll-anim {
			transform: translateX(-20%);
			opacity: 0;
		}

		&.scroll-anim_active {
			transform: translateX(0);
			opacity: 1;
		}
	}

	// .works__list

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media(min-width:768px) {
			flex-direction: row;
			gap: 30px;
		}
	}

	// .works__item

	&__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		border-radius: 20px;
		background-color: #3B3B3B;
		transition: opacity 1s ease , transform 1s ease;

		&.scroll-anim {
			transform: translateX(-20%);
			opacity: 0;
		}

		&.scroll-anim_active {
			transform: translateX(0);
			opacity: 1;
		}

		@media(min-width:768px) {
			flex-direction: column;
			justify-content: stretch;
			gap: 20px;
			flex-grow: 1;
			padding: 10px 20px 30px 20px;
		}

		@media(min-width:992px) {
			padding: 10px 30px 30px 30px;
		}
	}

	// .works__icon

	&__img {
		width: 100px;
		height: 100px;

		@media(min-width:768px) {
			width: 160px;
			height: 160px;
		}

		@media(min-width:992px) {
			width: 250px;
			height: 250px;
		}
	}

	// .works__small-title

	&__small-title {
		margin-bottom: 10px;
		font-size: 16px;

		@media(min-width:768px) {
			text-align: center;
		}

		@media(min-width:992px) {
			font-size: 22px;
		}
	}

	&__small-text {
		max-width: 155px;
		font-size: 12px;
		line-height: 140%;
		word-spacing: 4px;

		@media(min-width:768px) {
			max-width: 170px;
			text-align: center;
		}

		@media(min-width:992px) {
			max-width: 270px;
			font-size: 16px;
		}
	}
}