.hero {

	// .hero__container

	&__container {}

	&__content {
		padding: 30px 0;

		@media(min-width:768px) {
			padding: 40px 0;
		}

		@media(min-width:992px) {
			padding: 80px 0;
		}
	}

	// .hero__title

	&__title {
		margin-bottom: 10px;
	}

	// .hero__text

	&__text {
		text-transform: none;
	}

	// .hero__list

	&__list {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 40px;
	}

	// .hero__item

	&__item {}

	// .hero__btn

	&__btn {
		position: relative;
		color: #858584;
		font-size: 16px;
		font-weight: 600;
		transition: color 0.3s ease, opacity 0.3s ease;

		&:hover::before {
			left: -25px;
			right: -20px;
			bottom: -20px;
			background-color: #858584;

			@media(min-width:768px) {
				left: -40px;
				right: -40px;
			}
		}

		&:hover {
			color: #fff;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 2px;
			transition: right 0.5s ease, left 0.5s ease;
		}
	}

	&__btn_none {
		@media(min-width:768px) {
			opacity: 0;
		}
	}

	&__btn_block {
		opacity: 0;

		@media(min-width:768px) {
			opacity: 1;
		}
	}

	&__artist-box {
		display: flex;
		justify-content: space-between;
		padding: 12px 10px;
		margin-bottom: 20px;
		border-radius: 20px;
		border: 1px solid #3B3B3B;
	}

	// .hero__samll-title

	&__samll-title {
		display: flex;
		align-items: center;
		color: #858584;
		font-family: SpaceMono;
		font-size: 12px;
		font-weight: 400;

		&::before {
			content: "#";
			margin-right: 10px;
		}

		@media(min-width:768px) {
			font-size: 16px;
		}
	}

	// .hero__artist-list

	&__artist-list {
		display: flex;
		justify-content: space-around;
		width: 480px;
	}

	// .hero__artist-item

	&__artist-item {}

	&__artist-subtitle {
		color: #858584;
		font-family: SpaceMono;
		font-size: 16px;
		font-weight: 400;
	}

	@media(max-width:768px) {
		&__artist-subtitle_none {
			display: none;
		}
	}

	@media(max-width:576px) {
		&__artist-subtitle_nft-none {
			display: none;
		}
	}

	// .hero__avatar-list

	&__avatar-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-bottom: 40px;
		counter-reset: number;
	}

	// .hero__avatar-item

	&__avatar-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 10px;
		border-radius: 20px;
		background: #3B3B3B;
	}

	&__img-box {
		display: flex;
		align-items: center;
	}

	&__before-box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		padding: 3px 10px;
		margin-right: 10px;
		border-radius: 50%;

		@media(min-width:992px) {
			background-color: #2B2B2B;
		}

		&::before {
			counter-increment: number;
			content: counter(number);
			color: #858584;
			font-family: SpaceMono;
			font-size: 12px;
			font-weight: 400;

			@media(min-width:768px) {
				font-size: 16px;
			}
		}
	}


	// .hero__img

	&__img {
		width: 24px;
		height: 24px;
		margin-right: 12px;
		display: block;

		@media(min-width:992px) {
			width: 60px;
			height: 60px;
		}
	}

	// .hero__name

	&__name {
		color: #FFF;
		font-size: 16px;
		font-weight: 400;

		@media(min-width:768px) {
			font-size: 22px;
			font-weight: 600;
		}
	}

	// .hero__percent

	&__percent {
		display: none;
		color: #00AC4F;
		font-family: SpaceMono;
		font-size: 16px;
		font-weight: 400;

		@media(min-width:768px) {
			display: block;
		}
	}

	&__num-box {
		display: flex;
		align-items: center;
		justify-content: space-around;

		@media(min-width:768px) {
			width: 480px;
		}
	}

	// .hero__number

	&__number {
		display: none;
		color: #FFF;
		font-family: SpaceMono;
		font-size: 16px;
		font-weight: 400;

		@media(min-width:992px) {
			display: block;
		}

		@media(min-width:992px) {
			display: block;
		}
	}

	// .hero__eth

	&__eth {
		color: #FFF;
		font-family: SpaceMono;
		font-size: 12px;
		font-weight: 400;

		@media(min-width:768px) {
			font-size: 16px;
		}
	}
}